@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
}

body {
	height: 90vh;
	min-height: 90vh; 
	background: #ffffff;
	margin: none;
	align-items: center;
	justify-content: center;
  }
  
  .container2 {
	position: relative;
	width: 100%;
	height: 1300px;
	overflow: hidden;
	bottom: 25rem;
  }
  
  .bubbles {
	position: relative;
	display: flex;
  }
  
  .bubbles span {
	position: relative;
	width: 30px; 
	min-width: 30px;
	min-height: 30px;
	height: 30px;
	border: 5px solid #4fc3dc;
	margin: 0 4px;
	animation: animate 15s linear infinite;
	animation-duration: calc(70s / var(--i));
  }
  .bubbles span:nth-child(even) {
	border: 5px solid #ff2d75;
	border-radius: 50%;
  }
  
  @keyframes animate {
	0%
	{
	  transform: translateY(100vh) scale(0);
	}
	100%
	{
	  transform: translateY(-5vh) scale(1);
	}
  }

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 1rem	;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.social-icons {
	margin: 30px auto;
	text-align: center;
}

.social-icons img {
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 12px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 30px;
}

span {
	font-size: 12px;
}

a {
	color: rgb(255, 255, 255);
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #261ad7;
	background: linear-gradient(to right, #006aff, #2D64E6);
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: 20px;
}


button:hover{
	background: linear-gradient(to right, #2D64E6, #023eaf);
	color: #ffffff;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: #2D64E6;
	border-radius: 20px;
	border: 2px solid white;
	color: white;
}

button.ghost:hover{
	background: linear-gradient(to right, #2D64E6, #2922e2);
	color: white;
	border: 2px solid white;
	border-radius: 20px;

}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	
}

input {
	background-color: #eee;
	border: none;
	outline: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
}
input:focus {
	border-color: #2D64E6;
	box-shadow:0 0 8px 0 #2D64E6;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow:0 0 15px 0 #2D64E6;
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	top: 30rem;
	left: 17rem; 

}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: linear-gradient(to right, #2D64E6, #2D64E6);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}